<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tuitanews.persistence.NewsBeanCustomMapper" >
	<select id="selectNewsBeanList" parameterType="java.util.Map" resultType="com.tuitanews.domain.NewsBeanVO">
	    SELECT
	    	nb.id,
			nb.title,
			nb.content,
			nb.html,
			nb.`desc`,
			nb.imageurls,
			nb.channel_id,
			nb.face_url,
			nb.source,
			nb.pub_date,
			nb.create_date,
			nac.news_channel_id
		FROM
			news_bean nb,
			news_api_channel nac,
			api_channel ac
		WHERE
			nb.channel_id = nac.api_channel_id
		AND nac.news_channel_id = ac.id
		AND ac.id = #{newsChannelId}
		AND nac.`status` = 1
		AND ac.`status` = 1
	    ORDER BY pub_date DESC
	    <if test="pageOffset != null and pageSize != null">
			LIMIT #{pageOffset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER};
		</if>
	</select>
</mapper>