@CHARSET "UTF-8";

.mui-h4, h4 {
	font-size: 16px;
	line-height: 21px;
	font-weight: 400;
}
.mui-h4, h5 {
	font-size: 14px;
	color: #777;
}
.mui-table-view .mui-media-object {
    line-height: 52px;
    max-width: 100px;
    width: 100px;
    height: 68px;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin-top: 6px;
    margin-bottom: 5px;
}